target/
extractedFactsByDpOIE.csv
.DS_Store
.classpath
.project
.settings
.vscode/
.idea/
output/*
!output/.gitkeep
pt-models/*
!pt-models/.gitkeep
/extractedFactsByDpOIE.json
inputs/*
!inputs/wiki-200.txt
!inputs/ceten-200.txt